JAVA_OPTIONS=-server -XX:+PerfDisableSharedMem -XX:+UseContainerSupport -XX:MaxRAM=50m -XX:MaxMetaspaceSize=50m -XX:ThreadStackSize=512 -XX:+ExitOnOutOfMemoryError -XX:+UseSerialGC -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap -XX:+PrintFlagsFinal -XX:MaxRAMFraction=2 -XX:+PrintCommandLineFlags

APP_USER_SECRET =

DB_LOCATION_USER=
POSTGRES_USER =
POSTGRES_PASSWORD =

UPDATE_DB=true